[defaults]
inventory         = hosts
roles_path        = .
host_key_checking = False
force_color       = true

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
